* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.addJobContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'DM Sans';
}

.addJobLeftContainer {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh 3vw;
}

.addJobLeftContainer h4 {
    font-weight: 700;
    font-size: 35px;
    line-height: 144.02%;
}

.addJobLeftContainer p {
    font-size: 21px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #525252;
}

.addJobInputBox {
    margin: 4vh 0;
    display: flex;
    flex-direction: column;
    gap: 1.25vh;
}

.addJobInputBox .jobInfoInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobInfoInput input,
.jobInfoInput select {
    width: 70%;
    height: 6vh; 
    padding-left: 1vw;
    border: 1.84131px solid #C2C2C2;
    border-radius: 4.60328px;
    letter-spacing: 0em;
    font-weight: 500;
    font-size: 15.6512px;
    line-height: 20px;
    color: #ADADAD;
}

/* Button */
.addJobsButtons {
    display: flex;
    gap: 1.5vw;
    justify-content: flex-end;
}

.addJobsButtons button {
    cursor: pointer;
    padding: .55vh 2vw;
    font-size: 22px;
    font-weight: 700;
    /* line-height: 40px; */
    letter-spacing: 0em;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1.5vh;
}

.cancelBtn {
    border: 0.848485px solid #CECECE;
    border-radius: 6.50784px;
    color: #C2C2C2;
    background-color: #fff;

}

.cancelBtn:hover {
    color: #fff;
    border: 0.848485px solid #C2C2C2;
    background-color: #C2C2C2;
}

.activeAddBtn {
    color: #fff;
    border: 0.848485px solid #ED5353;
    background-color: #ED5353;
}

.disabledAddBtn {
    color: #fff;
    background-color: #ed8f8f;
}

/* Right Container  */
.addJobRightContainer {
    width: 45%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.addJobRightContainer h2 {
    margin-top: 5vh;
    position: absolute;
    font-size: 35px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0em;
    color: #fff;
}

@media only screen and (max-width:850px) {

    /* Right SIde image */
    .addJobRightContainer {
        display: none;
    }

    .addJobLeftContainer {
        width: 100%;
        padding: 1vh 5vw;
    }

    .addJobLeftContainer h4 {
        font-size: 1.55rem;
    }

    .addJobLeftContainer h3 {
        font-size: 1.05rem;
    }

    .jobInfoInput input,
    .jobInfoInput select {
        width: 55%;
        padding: 1vh 2vw;
    }

    .addJobsButtons {
        gap: 2.5vw;
    }

    .addJobsButtons button {
        font-size: 1.1rem;
        padding: 1vh 2.5vw;
    }
}