*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.authDetail {
    display: flex;
    align-items: center;
    gap: 1vw;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    line-height: 144.02%;
}

.authDetail button {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    line-height: 144.02%;
    background: transparent;
    border: none;
}
.authDetail button:hover{
    border-top: 1px solid transparent;
    border-bottom: 1px solid #fff;
}
.authDetail img {
    width: 50px;
    height: 50px;
}