* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

header {
    width: 100%;
    height: 11vh;
    background-color: #ED5353;
    border-radius: 0px 0px 62px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
}

.logo {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
}

.backgroundImage {
    display: flex;
    justify-content: space-between;
    position: absolute;
}

/* Login Register button csss */
.authButton {
    display: flex;
    gap: 1vw;
}

.authButton button {
    /* width: 6vw;
    height: 5vh; */
    padding: 0 1vw;
    background-color: #FF6B6B;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    font-weight: 500;
    font-size: 17px;
    line-height: 144.02%;
}

.authButton button:hover {
    background-color: #fff;
    color: #FF6B6B;
    cursor: pointer;
}

/* logout and user css */

.authDetail {
    display: flex;
    align-items: center;
    gap: 1vw;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    line-height: 144.02%;
}

.authDetail button {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    line-height: 144.02%;
    background: transparent;
    border: none;
}

.authDetail button:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #fff;
}

.authDetail img {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width:850px) {
    header {
        width: 100%;
        height: 9vh;
        border-radius: 0px 0px 55px 55px;
    }

    .logo {
        padding-left: 1vw;
    }

    .authButton button {
        padding: .1vh .75vw;
    }
}