* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registerContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'DM Sans';
}

.registerLeftContainer {
    width: 52%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7vw;
}

.registerLeftContainer h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 144.02%;
}

.registerLeftContainer p {
    font-size: 21px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #525252;
}

.inputBox {
    margin: 5vh 0 3vh 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.inputBox input {
    width: 38vw;
    height: 8vh;
    padding-left: 1.5vw;
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
}

.checkBox {
    display: flex;
    gap: 10px;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
}

.checkBox input {
    width: 17px;
    height: 17px;
}

.checkBox p {
    font-size: 17px;
}

/* Button */
.registerPageFalseBtn {
    cursor: pointer;
    width: 13vw;
    height: 5.5vh;
    color: #fff;
    background-color: #ed8f8f;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5vh;
}

.registerPageTrueBtn {
    cursor: pointer;
    width: 13vw;
    height: 5.5vh;
    color: #fff;
    background-color: #ED5353;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5vh;
}

@media only screen and (max-width:850px) {

    .registerLeftContainer {
        width: 100%;
        padding: 0 4vw;
        gap: 2vh;
    }

    .registerLeftContainer h3 {
        font-size: 1.7rem;
    }

    .registerLeftContainer p {
        font-size: 1.2rem;
        line-height: 25px;
    }

    .inputBox {
        margin: 2vh 0;
        flex-direction: column;
        gap: 2vh;
    }

    .inputBox input {
        width: 100%;
        padding-left: 1.6vw;
    }

    .checkBox {
        gap: 5px;
        align-items: flex-start;
    }

    .checkBox input {
        margin-top: 1vh;
        width: 50px;
    }

    .registerPageFalseBtn,
    .registerPageTrueBtn {
        width: 100%;
        margin-bottom: 1vh;
    }

}